@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.reveal section[style] {
  top:0px !important;
}
.reveal section {
  text-align:left;
}

.reveal h1 {
  background:#09357B;
  font:22pt Domine;
  width:calc(100%-40px);
  padding:20px;
  color:white;
  line-height:1.5em;
  text-align:left;
  margin:0px 0px 30px 0px;
}
.reveal h1 strong {
  font-weight:normal;
  text-transform:uppercase;
}
.reveal .part h1 {
  margin-top:200px;
}
.reveal p em, .reveal li em {
  font-weight:300;
  font-style:inherit;
}
.reveal h2, .reveal h3, .reveal p, .reveal ul, .reveal ol {
  font-family:Roboto; 
  width:calc(100%-40px);
  padding:0px 20px 0px 20px;
  text-align:left;
  font-weight:400;
  display:block;
}
.reveal h2 {
  font:26pt Roboto;
  padding:0px;
  width:100%;
  font-weight:700;
  text-align:left;
  margin:0px 0px 30px 0px;
}
.reveal h3 {
  font-size:36px;
  margin:60px 0px 30px 0px;
  font-weight:700;
}
.reveal ul, .reveal ol {
  margin-bottom:40px;
}

.reveal i.fa {
  width:1.5em;
  display:inline-block;
}
.reveal a {
  color:#09357B;
}
.reveal a:hover, .reveal a:active {
  color:#9ca1bd;
}

.reveal .controls .navigate-right.enabled {
  border-left-color:#9ca1bd;
}
.reveal .controls .navigate-left.enabled {
  border-right-color:#9ca1bd;
}
.reveal .controls .navigate-up.enabled {
  border-bottom-color:#9ca1bd;
}
.reveal .controls .navigate-down.enabled {
  border-top-color:#9ca1bd;
}

.klogo {
  position:absolute;
  right:10px;
  bottom:30px;
  width:140px;
}
.reveal img.nb {
  border-style:none;
  box-shadow:none;
}